on post-fs

on post-fs-data

# Load common part modules

on boot

#service ril-daemon /system/bin/rild
#    class main
#    socket rild stream 660 root radio
#    socket rild-debug stream 660 radio system
#    user root
#    group radio cache inet misc audio
##    group radio cache inet misc audio sdcard_rw log

#service ril-daemon /system/bin/rild -l libhuawei-ril.so -- -d /dev/ttyUSB2
service ril-daemon /system/bin/rild
    class main     
    socket rild stream 660 root radio     
    socket rild-debug stream 660 radio system     
    user root     
    group radio cache inet misc audio sdcard_rw
    disabled
    
## end
    
